body {
      font-family: Arial, Helvetica, sans-serif;
}



// NAVIGATION

nav {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 70px;
      font-family: Quicksand, Arial, Helvetica, sans-serif;
      background: transparent;
      color: $blanc;
}

.logo-nav {
      font-size: 30px;
      padding-left: 20px;
}
nav ul {
      list-style-type: none;
      @extend %flex-double-centre; 
}
nav li {
      margin: 0 20px;
}
nav a {
      text-decoration: none;
      color: $blanc;
      font-size: 25px;
}
nav li a::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      position: relative;
      top: 5px;
      background: $blanc;
      transform: scale(0);
      transition: transform 200ms ease-in-out;
}
nav li a:hover::after {
      transform: scaleX(1);
}
.lien-github {
      @extend %lien-github; //Utilisation du placeholder pour les liens CTA.
      width: 150px;
      justify-content: space-evenly;
      transition: 0.2s;
}

.lien-github img {
      color: $blanc;
}
//  Animation du bouton au survol: changement de couleur

.lien-github:hover {
      background: linear-gradient(45deg, $violet, $orange);
      
}

// Navbar blanche lors du scroll vers le haut
.active {
      @extend %white-navbar;
}


.responsive-nav-btn{
      display: none;
      position: absolute;
      top: 10px;
      right: 0;
      width: 50px;
      height: 50px;
      border: none;
      outline: none;
      background: transparent;
}

@media screen and (max-width: 950px){

      .responsive-nav-btn {
            display: block;
      }
      nav {
            justify-content: center;
            flex-direction: column;
            height: auto;
            position: absolute;
            top: -5px;
            background: #fff;
            color: $violet;
      }
      nav ul {
            z-index: 100;
            width: 100%;
            background: #fff;
            flex-direction: column;
            display: none;
      }
      .logo-nav {
            padding-left: 0;
            width: 100%;
            text-align: center;
            height: 70px;
            line-height: 70px;
      }
      nav ul li {
            height: 70px;
            line-height: 70px;
      }
      nav ul li a {
            color: $violet;
      }
      nav li a::after{
            top: -20px;
            background: $violet;
      }
      .lien-github {
            display: none;
      }
      .active-nav {
            display: flex;
      }
}

// ------------------ BACKGROUND SUR 100vh ------------------


// .container-global{
//       background-image: url(/ressources/layered-peaks.svg);
//       background-size: auto 100vh;
//       background-repeat: no-repeat;
// }
// ------------------ SECTION PRESENTATION ------------------


.presentation {
      background-image: url(/ressources/layered-peaks.svg);
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100vh;
      margin: 0 auto;
      @extend %flex-double-centre;
}

.presentation-txt {
      color: $blanc;
      width: 60%;
      max-width: 800px;
      margin: 20px auto 50px;
      text-justify: distribute;
      font-size: 24px;
      text-shadow: 2px 2px 5px #222;
      font-family: Quicksand, Arial, Helvetica, sans-serif;
}


.titre-section {
      margin: 40px auto;
      font-family: Quicksand, Arial, Helvetica, sans-serif;
      font-size: 65px;
}

.presentation-txt p {
      margin: 10px 0;
      line-height: 25px;
      font-weight: 100;
}

.presentation-img {
      max-width: 300px;
      height: 430px;
      margin: 0 auto;
      overflow: hidden;
      box-shadow: 2px 2px 20px rgba(41, 41, 41, 0.845);
      border-radius: 5px;
}

.presentation-img img {
      width: 100%;
      height: auto;
      object-fit: cover;
}


// Responsive de la section présentation.

@media screen and (max-width: 950px) {

      .presentation {
            padding: 100px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: auto;
            height: auto;
      }
      .presentation-txt {
            width: 80%;

      }
      .presentation-img {
            width: 300px;
            height: 450px;
      }
}

@media screen and (max-width: 450px) {
      
      .titre-section {
            font-size: 40px;
      }

      .presentation-txt {
            font-size: 20px;
      }

      .presentation-img {
            width: 250px;
            height: 370px;
      }
}





// ------------------ SECTION PORTFOLIO ------------------




.portfolio {
      width: 90%;
      margin: 0 auto;
}

.container-carte {
      width: 100%;
      padding: 100px 0 20px;
      height: auto;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
}

// Définition des cartes

.portfolio h2 {
      @extend %flex-double-centre;
      font-size: 65px;
}



.carte {
      width: 400px;
      margin: 30px 20px;
      // height: 200px;
      // border: 1px solid #222;
      font-family: Quicksand, Arial, Helvetica, sans-serif;
      
}
.carte-cachee {
      display: none;
}

.img-carte {
      width: 100%;
      min-width: 300px;
      height: auto;
      position: relative;
}

.img-carte img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      // border: 1px solid $violet;
      border-radius: 5px;
      box-shadow: 2px 2px 10px 1px rgba(51, 51, 51, 0.7);
}

.container-pastilles {
      display: flex;
      position: absolute;
      bottom: 10px;
      max-width: 400px;
      flex-wrap: wrap;
      padding-left: 7px;
}

.pastille {
      margin: 3px;
      padding: 2px 10px;
      color: #fff;
      border-radius: 9999px;
      font-size: 18px;
      font-weight: 300;
      box-shadow: -1px -1px 5px -1px rgba(0,0,0,0.7) inset;
}
.couleur-html {
      background: $orange-html;
}
.couleur-css {
      background: $bleu-css;
}
.couleur-js {
      background: $jaune-js;
}
.couleur-scss {
      background: $rose-scss;
}

.titre-projet {
      font-size: 30px;
      font-weight: 300;
      margin: 10px 0;
}

.lien-projet {
      text-decoration: none;
      color: #333;
      cursor: pointer;
      display: flex;
      align-items: center;
}

.lien-projet img {
      margin-right: 10px;
}

.afficher-plus {
      text-align: center;
}

.afficher-plus img {
      height: 50px;
      width: 50px;
      border-style: none;
      border: 4px solid $violet;
      border-radius: 9999px;
      cursor: pointer;
}

// Responsive de la setion portfolio


@media screen and (max-width: 600px) {
      .portfolio h2 img {
            display: none;
      }
}

@media screen and (max-width: 450px) {
      .portfolio {
            width: 100%;
      }
      .portfolio h2 {
            font-size: 40px;
      }
      .container-carte {
            padding-top: 30px;
      }
      .img-carte img {
            height: 200px;
      }
}


// ------------------ SECTION CTA ------------------

.cta {
      width: 100%;
      min-height: 400px;
      background-image: url('/ressources/layered-peaks-reverse.svg');
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
}

.cta h2 {
      color: $blanc;
      display: flex;
}

.cta h2 img {
      width: 90px;
      height: auto;
}

.container-cta {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      padding-top: 50px;
}


.email {
      color: $blanc;
      font-family: Quicksand, Arial, Helvetica, sans-serif;
      font-size: 28px;
}

.cta .lien-github {
      display: flex;
      font-family: Quicksand, Arial, Helvetica, sans-serif;
      font-size: 24px;
      margin: 0;
}


@media screen and (max-width: 950px){

      .cta {
            padding: 100px 0;
      }
      .container-cta {
            flex-direction: column;
      }
      .cta .lien-github {
            margin-top: 80px;
      }


}
@media screen and (max-width: 600px) {
      .email {
            font-size: 24px;
      }
      .cta .lien-github {
            font-size: 22px;
      }
}
@media screen and (max-width: 450px) {
      .cta h2 img {
            width: 80px;
      }
      .email {
            font-size: 18px;
      }
      .cta .lien-github {
            font-size: 18px;
      }
}


// ------------------ CURICULUM VITAE ------------------

.cv h2 {
      @extend %flex-double-centre;
}

.container-cv {
      display: flex;
      justify-content: center;
      position: relative;
      height: 700px;
      margin: 0 0 50px;
      font-size: 18px;
}

.container-cv .date {
      font-size: 22px;
}

.container-cv-gauche {
      margin: 30px;
      width: 50%;
      display: flex;
      flex-direction: column;

}

.container-cv-gauche p {
      display: flex;
      justify-content: flex-end;
      margin: 50px 0; 

}

.container-cv-droit::before {
      content: "";
      display: block;
      width: 5px;
      height: 100%;
      border-radius: 5px;
      background: #000;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
}

.container-cv-droit {
      margin: 90px 30px 30px;
      width: 50%;
      display: flex;
      flex-direction: column;
}

.container-cv-droit p {
      margin: 50px 0 ; 

}

.cv-mobile {
      display: none;
}


// Responsive de la partie CV, breakpoint à 650px

@media screen and (max-width: 650px) {

      .container-cv {

            display: none;
      }

      .cv-mobile {
            display: flex;
            justify-content: center;
            align-items: center;
      }

      .cv-mobile ul li { 
            margin: 15px 0;
            font-size: 18px;
      }
      .cv-mobile .date {
            margin-top: 30px;
            font-size: 22px;
            text-align: center;
      }
      .ligne-cv::after{
            content: "";
            display: flex;
            margin: 0 auto;
      
            width: 100px;
            height: 2px;
            background: $violet;
            margin-top: 30px;
            
      }
      

}